# IDE
.idea/

# Virtual environment
.venv/

# Python
__pycache__/
*.pyc

# Data (raw e processado)
data/raw/*
data/processed/*

# Artifacts (modelos, pipeline)
artifacts/*

# Reports (arquivos gerados)
reports/*.json
reports/figures/*